* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
:root {
    --app-height: 100%;
}
img {
    width: 100%;
    height: auto;
}

body {
    background: #131519;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    overflow-x: hidden;
}




.header_coin_change_active{
    border: 1px solid #29CC74;
}
.header_coin_change_active svg path{
    stroke: #29CC74;
}

.color_green {
    color: #29CC74 !important;
}

.color_start{
    color: #FFFD54 !important;
}

.color_red {
    color: #FF595E !important;
}



.border_gradient{
    background: radial-gradient(circle at 100% 100%, #26282d 0, #26282d 9px, transparent 9px) 0% 0%/10px 10px no-repeat,
    radial-gradient(circle at 0 100%, #26282d 0, #26282d 9px, transparent 9px) 100% 0%/10px 10px no-repeat,
    radial-gradient(circle at 100% 0, #26282d 0, #26282d 9px, transparent 9px) 0% 100%/10px 10px no-repeat,
    radial-gradient(circle at 0 0, #26282d 0, #26282d 9px, transparent 9px) 100% 100%/10px 10px no-repeat,
    linear-gradient(#26282d, #26282d) 50% 50%/calc(100% - 2px) calc(100% - 20px) no-repeat,
    linear-gradient(#26282d, #26282d) 50% 50%/calc(100% - 20px) calc(100% - 2px) no-repeat,
    linear-gradient(0deg, rgba(60,63,66,0) 0%, rgba(60,63,66,1) 100%) !important;
}


.token_orders {
    background: linear-gradient(180deg, rgba(39, 41, 45, 0.56) 0%, rgba(39, 41, 45, 0) 100%);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    /* height: 680px; */
    margin-right: 20px;
    padding: 0px;
    width: 450px;
    margin-left: 20px;
}

.token_orders_title {
    display: flex;
    align-items: center;
    padding: 24px;
    padding-bottom: 20px;
}

.token_orders_title_btns {
    display: flex;
    align-items: center;
    height: 46px;
    background: #191B20;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px 10px 10px 10px;
}

.token_orders_title_btn {
    padding: 6px 27px;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    /* identical to box height, or 200% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.24px;

    color: #FFFFFF;

}

.token_orders_title_btn_active {
    outline: 1px solid #FFFD54;
    border-radius: 10px 10px 10px 10px;
    color: #FFFD54;
}

.token_orders_title_full {
    margin-left: 22px;
    width: 20px;
}

.token_orders_view_types {

    display: flex;
    align-items: center;
    padding: 0 24px;
}

.token_orders_view_types_wrap {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.token_orders_view_type {
    padding: 6px 8px;
    display: flex;
}
.token_orders_view_type img{
    width: 18px;
    height: 20px;
}
.token_orders_view_type_active{
    background: #131519;
    outline: 1px solid #39D885;
    border-radius: 5px;
}
.token_orders_view_count_w{
    margin-left: auto;
    position: relative;
}
.token_orders_view_count {
    margin-left: auto;
    display: flex;
    align-items: center;
    background: #26282D;
    border-radius: 10px;
    justify-content: space-between;
    padding: 12px;
    width: 87px;
    height: 32px;
    cursor: pointer;


}

.token_orders_view_count span {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    /* identical to box height, or 200% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.24px;

    color: #FFFFFF;
}

.token_orders_view_count img {
    margin-left: 5px;
    width: 12px;
}
.token_orders_view_count_list{
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;
    background: #26282D;
    border-radius: 5px;

}
.token_buy_price_margin *{
    font-family: 'Manrope' !important;
    font-style: normal !important;
}
.token_buy_price_margin *:hover{
    box-shadow: none !important;
}
.MuiSlider-markLabel{

    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 19px;
    text-align: center;

    color: #5E6367 !important;
}
.token_orders_view_count_list_item{
    padding: 6px 4px;
    color: #ACACB8;
    font-weight: 500;
    font-size: 12px;
    border-bottom: 1px solid rgba(56,63,93, 0.2);
    padding-left: 10px;
    cursor: pointer;
}
.token_orders_view_count_list_item:last-child{
    border-bottom: 0;
}
.token_orders_sell {
    margin-top: 18px;
    /* height: 270px;
  overflow: auto; */

    padding-left: 16px;
}

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

::-webkit-scrollbar-track {
    background: #2D2F33;
}

::-webkit-scrollbar-thumb {
    background: #5C5F66;
    border-radius: 6px;
}

.token_orders_buy_main {
    height: 210px;
    overflow: auto;
    margin-top: 16px;
    padding-left: 16px;
}

.token_orders_buy_main::-webkit-scrollbar {
    width: 5x;
    height: 5px;
}

.token_orders_buy_main::-webkit-scrollbar-track {
    background: rgba(48, 59, 71, 0.5);
}

.token_orders_buy_main::-webkit-scrollbar-thumb {
    background-color: #ACACB8;
    border-radius: 6px;
}

.token_orders_sell_title {
    display: flex;
    align-items: center;
}

.token_orders_sell_title div {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #5E6367;
}

.token_orders_sell_title_price {
    padding-left: 3px !important;
}

.token_orders_sell_title_price,
.token_orders_sell_price,
.token_orders_buy_price {
    text-align: left;
    width: 33%;
    padding-left: 0px;
}

.token_orders_sell_title_quantity,
.token_orders_sell_quantity,
.token_orders_buy_quantity {
    text-align: center;
    width: 33%;
}

.token_orders_sell_title_total,
.token_orders_sell_total,
.token_orders_buy_total {
    text-align: right;
    width: 33%;
}

.token_orders_sell_main .row,
.token_orders_buy_main .row {
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.token_orders_sell_price {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    display: flex;
    align-items: left;
    padding-left: 0px;
    color: #EB5757;
}

.token_orders_sell_quantity {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: right;

    color: #FFFFFF;
    justify-content: right;
    padding-right: 30px;
}
.token_orders_sell_title_total{
    justify-content: right;
    padding-right: 17px;
}
.token_orders_sell_total {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: right;
    justify-content: right;
    color: #FFFFFF;
    padding: 2px;
    padding-right: 16px;
}

.token_orders_buy_total {
    padding: 2px;
    padding-right: 6px;
}

.token_orders_price {
    margin-top: 18px;
    display: flex;
    margin-left: 16px;
}

.token_orders_price_actual {
    display: flex;
    align-items: center;

    /* position: relative;
  left: -8px; */
}

.token_orders_price_actual img {
    width: 18px;
}

.token_orders_price_actual span {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.24px;

    /* color: #39D885; */
    margin-right: 5px;
}
.sell_price {
    color: #e34646;
}
.buy_price {
    color: #39D885;
}
.token_orders_price_for_sell {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 24px;
}

.token_orders_price_for_sell img {
    width: 24px;
    margin-right: 7px;
}

.token_orders_price_for_sell span {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.24px;

    color: #5E6367;
}

.token_orders_buy_price {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #39D885;
}

.token_orders_buy_quantity {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: right;

    color: #FFFFFF;
    justify-content: right;
    padding-right: 30px;
}

.token_orders_buy_total {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: right;
    justify-content: right;
    padding: 2px;
    padding-right: 16px;
    color: #FFFFFF;
}

.token_chart {
    background: #131519;
    background: linear-gradient(180deg, rgba(39, 41, 45, 0.56) 0%, rgba(39, 41, 45, 0) 100%);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    /* height: 680px; */
    padding: 24px 0px;
}


.token_orders_sell_main::-webkit-scrollbar-track {
    background: #45292C;


}
.token_orders_sell_main::-webkit-scrollbar, .token_orders_buy_main::-webkit-scrollbar{
    width: 0;
}
.token_orders_buy_main::-webkit-scrollbar-track {
    background: #1E3F32;

}

.token_orders_sell_main {
    overflow-y: scroll;
    /* height: 245px; */
    height: calc(100vh - 500px);
    margin-top: 8px;
}


@media only screen and (min-width: 1365px) and (min-height: 720px) {
    .token_orders_sell_main {
        height: calc(100vh - 580px);
    }
    .token_orders_buy_main {
        height: 150px;
    }
}

@media only screen and (min-width: 1365px) and (min-height: 768px) {
    .token_orders_sell_main {
        height: calc(100vh - 623px);
    }
    .token_orders_buy_main {
        height: 181px;
    }
}

@media only screen and (min-width: 1365px) and (min-height: 800px) {
    .token_orders_sell_main {
        height: calc(100vh - 623px);
    }
    .token_orders_buy_main {
        height: 181px;
    }
}

@media only screen and (min-width: 1365px) and (min-height: 896px) {
    .token_orders_sell_main {
        height: calc(100vh - 653px);
    }
}

@media only screen and (min-width: 1365px) and (min-height: 900px) {
    .token_orders_sell_main {
        height: calc(100vh - 720px);
    }
    .token_orders_buy_main {
        height: 252px;
    }
}

@media only screen and (min-width: 1365px) and (min-height: 1024px) {
    .token_orders_sell_main {
        height: calc(100vh - 744px);
    }
    .token_orders_buy_main {
        height: 291px;
    }
}